@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(19, 0, 57);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Sora", sans-serif;
}

.container {
  transition: all 0.2s ease-in-out;
  padding: 20px;
  background-color: rgb(7, 0, 26);
  border: 1px dashed rgb(7, 0, 26);
  width: 620px;
  text-align: center;
}

.container:hover {
  transition: all 0.2s ease-in-out;
  border: 3px solid #3d00cc;
  box-shadow: 0 0 24px rgba(61, 0, 204, 0.2);
  cursor: default;
  border-radius: 12px;
}

.container h2 {
  padding: 12px 0px;
}
.container div {
  padding-bottom: 12px;
}
